@media (max-width: 1200px)
    .promo
        min-height: 0
        padding: 60px
        &__wrapper

    .about
        padding: 50px
        &__wrapper
            grid-template: auto / repeat(auto-fit, 430px)
    .achievements
        background: url('../img/bg/2.jpg') bottom (center/cover) no-repeat
        padding: 40px
        &__wrapper
            display: grid
            grid-template: repeat(3,80px)/repeat(auto-fit,420px)
    .advantages
        padding: 40px
    .card
        &__wrapper
            grid-template: auto / repeat(auto-fit, 270px)
            gap: 20px
    .services
        padding: 40px

    .portfolio
        .slider
            width: 630px
            &__next
                right: 70px
            &__prev
                left: 70px
    .footer
        padding: 40px
    .stocks
        padding: 40px
        &__input
            margin-bottom: 60px
            label
                font-size: 20px
    .offer
        padding: 40px
        &__wrapper
            gap: 20px
    .advantages-services
        padding: 40px
    .work
        padding: 40px
        &__wrapper
            grid-template: auto/repeat(auto-fit,290px)
            gap: 10px
    .examples
        padding: 30px
        &__wrapper
            justify-content: space-around
    .offer
        &__wrapper
            grid-template: auto/minmax(470px,auto) 400px
@media (max-width: 991px)
    .promo
        &__title
            font-size: 50px
    .about
        &__title
            text-align: center
        &__wrapper
            gap: 30px
            grid-template: auto/100%
        &__info
            align-items: center
        &__img
            margin-top: 100px
        &__quote
            margin-top: 20px
            width: 475px

    .advantages
        .card__wrapper
            justify-content: center
            grid-template: auto/300px
    .achievements
        &__wrapper
            grid-template: repeat(3,80px)/repeat(auto-fit,480px)
            justify-content: center
    .card
        &__wrapper
            justify-content: space-around
    .services

    .portfolio

        .slider
            &__next
                right: 25px
            &__prev
                left: 25px
    .request
        padding: 40px
        &__form
            grid-template: auto/repeat(2,270px)
            row-gap: 30px
            &__input.request__input
                width: 100%

    .contacts
        padding: 40px
        &__wrapper
            grid-template: auto/repeat(2,270px)

    .footer
        padding: 40px
    .stocks
        &__info
            gap: 20px
    .work
        margin-top: 0
        &__wrapper
            margin-top: 50px
            grid-template: auto/repeat(auto-fit,290px)
            gap: 30px
            justify-content: center
    .offer
        &__wrapper
            grid-template: auto/1fr
@media (max-width: 767px)
    .title
        letter-spacing: 0.05em
    .promo
        &__title
            font-size: 40px
    .sidepanel
        display: none
    .about
        &__info
            align-items: flex-start
    .menu
        &__link
            font-size: 28px
    .card
        &__wrapper
            justify-content: center
    .portfolio

        .slider
            width: 300px
            &__next
                right: 70px
            &__prev
                left: 70px
    .request
        &__form
            grid-template: auto/repeat(2,250px)
            row-gap: 30px
    .contacts
        &__wrapper
            grid-template: auto/repeat(2,220px)
    .footer
        &__logo
            font-size: 49px
        &__contacts
            font-size: 20px
    .stocks
        padding: 20px
        &__info
            grid-template: auto/repeat(1,auto)
            gap: 20px
    .promo-services__title
        font-size: 50px

@media (max-width: 595px)
    .promo
        padding: 20px
        padding-top: 70px
        &__btn
            width: 270px
            margin-bottom: 30px
        &__title
            margin-top: 120px
            font-size: 17px
        &__wrapper
            justify-content: space-around
        a.logo
            font-size: 24px
    .menu
        &__links
            grid-template: auto/300px
    .hamburger
        height: 34px
    .hamburger span
        width: 44px
    .title
        line-height: 40px
        font-size: 29px
        &__line
            &::before, &::after
                display: none

    .card
        &__wrapper
            margin-top: 25px
        &__title
            font-size: 24px
            letter-spacing: 0
    .button
        width: 220px
        font-size: 17px
    .about
        padding: 20px
        &__quote
            margin-top: 30px
            width: 100%
        &__persons
            &-descr
                margin-top: 20px
                line-height: 34px
        &__experience
            grid-template: 110px 110px/160px 120px
            &-count
                line-height: 250px
                font-size: 200px
            &-years
                font-size: 46px
            &-descr
                font-size: 24px
        &__text
            margin-top: 20px
            line-height: 34px
        &__descr
            line-height: 34px
        &__img
            height: 370px
        &__title
            font-size: 28px
            text-align: center
    .achievements
        padding: 20px
        &__wrapper
            gap: 35px
            grid-auto-rows: auto
            grid-template: auto/100%
    .achievement
        flex-direction: column
        align-items: center
        &__descr
            margin-bottom: 20px
            width: 100%
            text-align: center
    .advantages
        padding: 20px
    .advantages .card__wrapper
        grid-template: auto/260px
    .services
        padding: 20px

    .portfolio
        padding: 20px
        padding-bottom: 100px
        .slider
            margin-top: 25px
            width: 300px
            &__column
                row-gap: 20px
            &__next
                right: 90px
                bottom: -340px
            &__prev
                left: 90px
                bottom: -340px
    .request
        padding: 20px

        &__form
            grid-template: auto/100%
            margin-top: 25px
    .contacts
        padding: 20px

        &__wrapper
            grid-template: auto/100%
            margin-top: 5px
        &__info
            flex-direction: column
            &-item
                font-size: 21px
                &:before
                    left: -19px
                    top: 10px
            &-socials
                a
    .footer
        padding: 20px
        &__about
            width: 100%
        &__logo
            font-size: 30px
    .stocks
        padding: 20px
        a.logo
            font-size: 24px
        &__info
            grid-template: auto/repeat(1,auto)
        &__wrapper
            grid-template: auto/repeat(1,1fr)
        &__descr
            font-size: 26px
            margin-top: 20px
        &__input
            margin-bottom: 60px
            label
                font-size: 20px
        &__btn
            font-size: 20px
            border-bottom: 3px solid rgba(14,18,21,.4)
        &__title
            font-size: 26px
        &__certificate-date
            margin-top: 20px
    .offer
        padding: 20px
        &__title
            text-align: center
    .work
        &__wrapper
            margin-top: 30px
    .advantages-services
        padding: 20px
    .advantages-services__wrapper
        grid-template-rows: 360px
        grid-template-columns: repeat(auto-fit, 300px)
    .promo-services__title-logo
        margin: 60px auto 0 auto
        width: 100px
    .promo-services__title
        margin-top: 10px
    .promo-services__subtitle
        font-size: 20px
        &__wrapper
            justify-content: center
    .examples
        padding: 20px
        &__wrapper
            grid-template: auto/repeat(auto-fit,300px)
            object-fit: cover
            justify-content: center
            img
                width: 100%
