@media (max-width: 1200px)
    .menu
        &__links
            justify-content: space-around
        &__links
            a
                &:last-child
                    grid-column: auto
    .promo
        padding: 60px
    .about
        padding: 50px
        &__wrapper
            grid-template: auto / repeat(auto-fit, 430px)
    .achievements
        background: url('../img/bg/2.jpg') bottom (center/cover) no-repeat
        padding: 40px
        &__wrapper
            display: grid
            grid-template: repeat(3,80px)/repeat(auto-fit,420px)
    .advantages
        padding: 40px
    .card
        &__wrapper
            grid-template: auto / repeat(auto-fit, 270px)
            gap: 20px
    .services
        padding: 40px

    .portfolio
        .slider
            width: 630px
            &__next
                right: 70px
            &__prev
                left: 70px
    .footer
        padding: 40px
    .stocks
        padding: 40px
        &__input
            margin-bottom: 60px
            label
                font-size: 20px
    .offer
        padding: 40px
        &__wrapper
            gap: 20px
    .advantages-services
        padding: 40px
    .work
        padding: 40px
        &__wrapper
            grid-template: auto/repeat(auto-fit,290px)
            gap: 10px
    .examples
        padding: 30px
        &__wrapper
            justify-content: space-around
    .offer
        &__wrapper
            grid-template: auto/minmax(470px,auto) 400px
    .main
        padding: 0 40px
@media (max-width: 991px)
    .menu
        &__link
            font-size: 40px
            line-height: 40px
        &__socials
            margin-top: 100px
    .promo
        &__title
            font-size: 50px
    .about
        &__title
            text-align: center
        &__wrapper
            gap: 30px
            grid-template: auto/100%
        &__info
            align-items: center
        &__img
            margin-top: 100px
        &__quote
            margin-top: 20px
            width: 475px

    .advantages
        .card__wrapper
            justify-content: center
            grid-template: auto/300px
    .achievements
        &__wrapper
            grid-template: repeat(3,80px)/repeat(auto-fit,480px)
            justify-content: center
    .card
        &__wrapper
            justify-content: space-around
    .services

    .portfolio

        .slider
            &__next
                right: 25px
            &__prev
                left: 25px
    .request
        padding: 40px
        &__form
            grid-template: auto/repeat(2,270px)
            row-gap: 30px
            &__input.request__input
                width: 100%

    .contacts
        padding: 40px
        &__wrapper
            grid-template: auto/repeat(2,270px)
        &__policy span
            grid-template: auto / auto
    .stocks
        &__info
            gap: 20px
    .work
        margin-top: 0
        &__wrapper
            margin-top: 50px
            grid-template: auto/repeat(auto-fit,290px)
            gap: 30px
            justify-content: center
    .offer
        &__wrapper
            grid-template: auto/1fr
    .modal
        &__icon
            width: 80px
            height: 80px
        &__subtitle
            font-size: 18px
        &__descr
            font-size: 14px
@media (max-width: 767px)
    .menu
        &__links
            a
                font-size: 40px
    .title
        letter-spacing: 0.05em
    .promo
        &__title
            font-size: 40px
    .sidepanel
        display: none
    .about
        &__info
            align-items: flex-start
    .card
        &__wrapper
            justify-content: center
    .portfolio

        .slider
            width: 300px
            &__next
                right: 70px
            &__prev
                left: 70px
    .request
        &__form
            grid-template: auto/repeat(2,250px)
            row-gap: 30px
    .contacts
        &__wrapper
            grid-template: auto/repeat(2,220px)
    .footer
        &__logo
            font-size: 49px
        &__contacts
            font-size: 20px
    .stocks
        padding: 20px
        &__info
            grid-template: auto/repeat(1,auto)
            gap: 20px
    .promo-services__title
        font-size: 50px
    .modal
        &__icon
            width: 70px
            height: 70px
        &__subtitle
            font-size: 16px
        &__descr
            font-size: 12px
    .main
        padding: 0 20px

@media (max-width: 595px)
    .menu
        top: 165px
        &__links
            gap: 10px
            padding: 0 20px
            a
                font-size: 28px
            &:hover
                &:before
                    max-width: 100%
        &__link
            font-size: 35px
            line-height: 35px
        &__socials
            margin-top: 20px
            justify-content: center
            gap: 40px
            a
                img
                    width: 22px
                    height: 22px
        &.active
            align-items: flex-start
    .promo
        padding: 20px
        padding-top: 50px
        &__btn
            width: 230px
            font-size: 17px
            margin-bottom: 30px
        &__title
            font-size: 17px

        a.logo
            width: 80px
            height: 80px
            &:hover
                .promo__text
                    visibility: hidden
    .hamburger
        height: 34px
        span
            width: 44px
        &.active
            span
                &:nth-child(1)
                    transform: translateY(16px) rotate(-45deg)
                &:nth-child(2)
                    transform: translateY(-15px) rotate(45deg)
    .title
        line-height: 40px
        font-size: 29px
        &__line
            &::before, &::after
                display: none
    .card
        &__wrapper
            margin-top: 25px
        &__title
            font-size: 24px
            letter-spacing: 0
    .button
        width: 220px
        font-size: 17px
    .about
        padding: 20px
        &__quote
            margin-top: 30px
            width: 100%
        &__persons
            &-descr
                margin-top: 20px
                line-height: 34px
        &__experience
            grid-template: 110px 110px/160px 100px
            justify-content: space-evenly
            &-count
                line-height: 250px
                font-size: 190px
            &-years
                font-size: 46px
            &-descr
                font-size: 24px
        &__text
            margin-top: 20px
            line-height: 34px
        &__descr
            line-height: 34px
        &__img
            height: 370px
        &__title
            font-size: 28px
            text-align: center
    .achievements
        padding: 20px
        &__wrapper
            gap: 35px
            grid-auto-rows: auto
            grid-template: auto/100%
    .achievement
        flex-direction: column
        align-items: center
        &__descr
            margin-bottom: 20px
            width: 100%
            text-align: center
    .advantages
        padding: 20px
    .advantages .card__wrapper
        grid-template: auto/260px
    .services
        padding: 20px
    .portfolio
        padding: 20px
        padding-bottom: 100px
        .slider
            margin-top: 25px
            width: 280px
            &__column
                row-gap: 20px
                grid-template: repeat(2,240px)/290px
            &__item img
                width: 290px
            &__next
                display: inline
                right: 90px
                bottom: -340px
            &__prev
                display: inline
                left: 90px
                bottom: -340px
    .slider
        &__container
            left: -330px
    .request
        padding: 20px

        &__form
            grid-template: auto/100%
            margin-top: 25px
    .contacts
        padding: 20px
        &__form
            margin-top: 30px
        &__wrapper
            grid-template: auto/100%
            margin-top: 5px
            gap: 45px
        &__info
            flex-direction: column
            &-item
                font-size: 21px
                &:before
                    left: -19px
                    top: 10px
    .footer
        padding: 20px
        &__logo
            text-align: center
        &__text
            margin-top: 20px
            text-align: center
        &__contacts
            &-link
                text-align: center
        &__socials
            display: flex
            justify-content: center
        &__wrapper
            padding: 0
        &__about
            width: 100%
        &__logo
            font-size: 30px
    .stocks
        padding: 20px
        a.logo
            font-size: 24px
        &__info
            grid-template: auto/repeat(1,auto)
        &__wrapper
            grid-template: auto/repeat(1,1fr)
        &__descr
            font-size: 26px
            margin-top: 20px
        &__input
            margin-bottom: 60px
            label
                font-size: 20px
        &__btn
            font-size: 20px
            border-bottom: 3px solid rgba(14,18,21,.4)
        &__title
            font-size: 26px
        &__certificate-date
            margin-top: 20px
    .offer
        padding: 20px
        &__title
            text-align: center
    .work
        &__wrapper
            margin-top: 30px
    .advantages-services
        padding: 20px
    .advantages-services__wrapper
        grid-template-rows: 360px
        grid-template-columns: repeat(auto-fit, 300px)
    .promo-services__title-logo
        margin: 60px auto 0 auto
        width: 100px
    .promo-services__title
        margin-top: 10px
    .promo-services__subtitle
        font-size: 20px
        &__wrapper
            justify-content: center
    .examples
        padding: 20px
        &__wrapper
            grid-template: auto/repeat(auto-fit,300px)
            object-fit: cover
            justify-content: center
            img
                width: 100%
    .modal
        &__icon
            width: 50px
            height: 50px
