@import 'libs/bootstrap-reboot.min'
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap')
@import 'base/variables'
@import 'base/_media'

*
    font-family: 'El Messiri', sans-serif
    margin: 0
    padding: 0

.container
    max-width: 1170px
    margin: 0 auto
    position: relative

// main page styles
@import 'blocks/_title'
@import 'blocks/_promo'
@import 'blocks/_menu'
@import 'blocks/_button'
@import 'blocks/_about'
@import 'blocks/_achievements'
@import 'blocks/_advantages'
@import 'blocks/_services'
@import 'blocks/_request'
@import 'blocks/_portfolio'
@import 'blocks/_contacts'
@import 'blocks/_footer'
@import 'blocks/_card'
@import 'blocks/_offer'

//services styles
@import 'blocks/_promo-services'
@import 'blocks/_advantages-services'
@import 'blocks/_work'
@import 'blocks/_examples'

// stocks styles
@import 'blocks/_stocks'
