.about
	position: relative
	background-color:#0E1215
	padding-top: 30px
	z-index: 10
	color: #fff
	&_bg
		position: absolute
		width: 100%
		object-fit: cover
		top: 0
		right: 0
		height: 1014px
	&__title 
		text-align: left
		line-height: 73px
	&__wrapper
		display: grid
		grid-template: 507px / 470px 470px
		justify-content: space-between
		&-card
			margin-top: 71px
			display: flex
			justify-content: space-between
			color: #A7A7A7
			font-size: 23px
			font-style: 300 
			line-height: 27px
			gap: 15px
			span
				color: #FF8484
				font-style: normal
	&__text
		width: 507px
		font-size: 29px
		line-height: 47px
	&__experience
		display: grid
		grid-template: 145px 130px / 300px 170px
		align-items: start
		justify-items: start
		font-weight: bold
		&-years
			font-size: 147px
			line-height: 110px
		&-count
			grid-row: 1 / 3
			grid-column: 2 / 3
			font-size: 305px
			line-height: 242px
			background-color: #FF8484
			box-shadow: 0px 0px 27px #FF8484
			border-radius: 10px
			width: 170px
			height: 272px
			padding-left: 9px
		&-descr
			font-size: 39px
			line-height: 51px
	&__girl 
		display: block
		margin: 115px auto 0 auto
	&__descr
		display: block
		width: 965px
		word-wrap: break-word
		margin: 30px auto 0 auto
		font-size: 29px
		line-height: 52px
	&__persons 
		display: flex
		justify-content: space-between
		margin-top: 60px
		width: 970px
		margin: 60px auto 0 auto
		&-card
			width: 375px
		&-descr
			font-size: 29px
			line-height: 52px
			word-wrap: break-word
	&__img
		height: 696px





