.about
	position: relative
	background-color: #0E1215
	padding-top: 70px
	z-index: 10
	color: #fff

	&_bg
		position: absolute
		width: 100%
		object-fit: cover
		top: 0
		right: 0
		height: 1014px

	&__title
		text-align: left
		line-height: 73px

	&__wrapper
		display: grid
		grid-template: auto / repeat(auto-fit, 470px)
		justify-content: space-between
		&-card
			margin-top: 71px
			display: flex
			justify-content: space-between
			color: #A7A7A7
			font-size: 23px
			font-style: 300
			line-height: 27px
			gap: 15px
			span
				color: $main-color
				font-style: normal

	&__info 
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: flex-end
	&__text
		font-size: 28px
		line-height: 47px

	&__experience
		display: grid
		grid-template: 145px 130px / 300px 170px
		align-items: start
		justify-items: start
		font-weight: bold
		&-years
			font-size: 147px
			line-height: 147px
		&-count
			grid-row: 1 / 3
			grid-column: 2 / 3
			font-size: 305px
			background-color: $main-color
			box-shadow: 0px 0px 27px $main-color
			border-radius: 10px
			text-align: center
			line-height: 330px
			height: 100%
			width: 100%	
		&-descr
			font-size: 39px
			line-height: 51px

	&__quote
		display: flex
		width: 370px
		column-gap: 13px
		&-wrapper
			display: flex
			flex-direction: column
			justify-content: space-between
			align-items: flex-end
			font-weight: 300
			font-size: 14px
			line-height: 15px
			letter-spacing: 0.14em
			padding-top: 10px
		&-img img
			width: 70px
			height: 70px
			border-radius: 100% 
			object-fit: cover

	&__img
		display: block
		margin: 0 auto
		margin-top: 200px
		height: 500px
		img
			border-radius: 25px
			width: 100%
			height: 100%
			object-fit: cover

	&__descr
		display: block
		word-wrap: break-word
		margin: 0 auto
		margin-top: 30px
		font-size: 29px
		line-height: 52px

	&__persons
		display: grid
		grid-template: auto / repeat(auto-fit, 375px)
		column-gap: 70px
		justify-content: space-around
		margin: 0 auto
		margin-top: 60px
		&-card
			width: 375px
			img
				border-radius: 5px
				width: 100%
				height: 454px
				object-fit: cover
		&-descr
			font-size: 29px
			line-height: 52px
			word-wrap: break-word
