.achievements
    background: #0e1215
    padding-top: 30px
    color: #fff
    padding-bottom: 400px
    &__wrapper
        display: grid
        grid-template: repeat(3, 80px) / repeat(auto-fit, 470px)
        grid-auto-rows: 80px
        margin: 0 auto
        margin-top: 70px
        gap: 55px
        justify-content: space-between

.achievement
    display: flex
    justify-content: space-between
    &__descr
        font-size: 30px
        line-height: 43px
        width: 300px
        letter-spacing: 0.1em
    &__count
        background: $main-color
        box-shadow: 0px 0px 27px $main-color
        border-radius: 10px
        font-size: 48px
        width: 170px
        text-align: center
        line-height: 88px
