.card
    height: 360px
    position: relative
    transform-style: preserve-3d
    transition: transform 1s

    &__face
        position: absolute
        height: 100%
        width: 100%
        backface-visibility: hidden
        box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.22)
        border-radius: 10px
        text-align: center
        padding: 17px 24px 24px 17px
        color: #343434
        background: #fff
        cursor: pointer
        &--back 
            background: lightgray
            transform: rotateY(180deg)
    &-flipped
        transform: rotateY(180deg)
        transition: all 1s
    &__wrapper
        display: grid
        grid-template: auto / repeat(auto-fit, 270px)
        gap: 60px
        justify-content: space-between
        margin-top: 50px
        a
            text-decoration: none
            &:hover
                color: #343434
    &__services
        box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.22)
        border-radius: 10px
        text-align: center
        padding: 17px 24px 24px 17px
        color: #343434
        background: #fff
        text-decoration: none
        transition: .7s all
        &:hover
            transform: translate(15px, -15px)
    &__title
        font-size: 24px
        line-height: 100%
        margin-top: 20px
    &__subtitle
        text-align: left
        margin-top: 30px
        line-height: 21px
    &__descr
        text-align: left
        margin-top: 20px
        line-height: 21px
    &__price
        font-size: 20px
        font-weight: 600
        padding-left: 5px
    &__price-old
        color: #555
        font-weight: 300
        text-decoration: line-through
        font-size: 15px
        text-align: left
    &__footer
        display: flex
        justify-content: space-between
        position: absolute
        width: calc(100% - 40px)
        bottom: 28px
        align-items: center
    &__btn
        padding: 5px 20px
        background: #fff
        color: #000
        font-size: 20px
        box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.25)
        border: none
        border-radius: 41px
        text-decoration: none
        &:hover
            color: #000
            text-decoration: none