.contacts
    background: url('../img/bg/questions.jpg') center (center/cover) no-repeat
    padding: 75px 0
    position: relative
        
    &__subtitle
        text-align: center
        font-weight: bold
        font-size: 24px
        letter-spacing: 0.055em
        color: #fff
    &__wrapper
        gap: 70px
        margin-top: 40px
        display: grid
        grid-template: auto / repeat(2, 370px)
        justify-content: center
    &__form
        display: flex
        flex-direction: column
        margin-top: 60px
    &__input
        position: relative
        margin-bottom: 40px
        &:nth-child(4)
            margin-bottom: 20px
        &-field
            background: none
            border: none
            border-bottom: 1px solid #FFFFFF
            height: 32px
            width: 100%
            outline: none
            color: #fff
            padding-left: 10px
            &:focus, &:valid
                &+label
                    transform: translateY(-1.5rem)
        label
            position: absolute
            left: 18px
            bottom: 5px
            text-transform: uppercase
            color: rgba(255, 255, 255, 0.4)
            font-size: 14px
            font-weight: 200
            margin: 0
            transition: 0.3s all
            &::before
                position: absolute
                content: ''
                width: 8px
                height: 2px
                background: #A7A7A7
                top: 65%
                left: -15px
    &__btn
        font-size: 12px
        text-align: center
        text-transform: uppercase
        color: rgba(255, 255, 255, 0.4)
        letter-spacing: 1px
        font-weight: bold
        width: 80px
        background: none
        border: none
        border-bottom: 3px solid rgba(255, 255, 255, 0.4)
        outline: none
        margin-top: 20px
        transition: .7s all
        &:hover
            color: #fff
            border-bottom: 3px solid rgba(255, 255, 255, 0.787)
    &__info
        display: flex
        flex-direction: column
        justify-content: space-between
        color: #a7a7a7
        font-weight: 200
        font-size: 18px
        height: 235px
        &-socials
            img
                width: 20px
                margin-right: 20px
                a
                transition: .6s all
                &:hover
                    
                    transform: translateY(-5px)
        &-item
            margin-left: 28px
            position: relative
            &:before
                position: absolute
                left: -28px
                top: 50%
                transform: translateY(50%)
                content: ''
                width: 12px
                height: 2px
                background: #A7A7A7
