.contacts
    background: url('../img/bg/questions.jpg') center (center/cover) no-repeat
    padding: 75px 0
    position: relative

    &__subtitle
        text-align: center
        font-weight: bold
        font-size: 24px
        letter-spacing: 0.055em
        color: #fff
    &__wrapper
        gap: 70px
        margin-top: 40px
        display: grid
        grid-template: auto / repeat(2, 370px)
        justify-content: center
    &__form
        display: flex
        flex-direction: column
        margin-top: 60px
    &__input
        position: relative
        margin-bottom: 40px
        &:nth-child(4)
            margin-bottom: 20px
        &-field
            background: none
            border: none
            border-bottom: 1px solid #FFFFFF
            height: 32px
            width: 100%
            outline: none
            color: #fff
            padding-left: 10px
            &:focus, &:valid
                &+label
                    transform: translateY(-1.5rem)
        label
            position: absolute
            left: 18px
            bottom: 5px
            text-transform: uppercase
            color: rgba(255, 255, 255, 0.4)
            font-size: 14px
            font-weight: 200
            margin: 0
            transition: 0.3s all
            &::before
                position: absolute
                content: ''
                width: 8px
                height: 2px
                background: #A7A7A7
                top: 65%
                left: -15px
    &__btn
        font-size: 12px
        text-align: center
        text-transform: uppercase
        color: rgba(255, 255, 255, 0.4)
        letter-spacing: 1px
        font-weight: bold
        width: 80px
        background: none
        border: none
        border-bottom: 3px solid rgba(255, 255, 255, 0.4)
        outline: none
        margin-top: 20px
        transition: .7s all
        &:hover
            color: #fff
            border-bottom: 3px solid rgba(255, 255, 255, 0.787)
    &__info
        display: flex
        flex-direction: column
        justify-content: space-between
        color: #a7a7a7
        font-weight: 200
        font-size: 18px
        height: 235px
        &-socials
            img
                width: 20px
                margin-right: 20px
                transition: .6s all
                &:hover
                    transform: translateY(5px) scale(1.1)
        &-item
            margin-left: 28px
            position: relative
            &:before
                position: absolute
                left: -28px
                top: 50%
                transform: translateY(50%)
                content: ''
                width: 12px
                height: 2px
                background: #A7A7A7
    &__policy
        color: #fff
        font-size: 15px
        display: flex
        align-items: center
        span
            position: relative
            cursor: pointer
            display: flex
            align-items: center
            gap: 5px
            width: fit-content
            transition: color .3s ease
            &::before,
            &::after
                content: ""
                position: absolute
            &::before
                height: 2px
                width: 8px
                left: -27px
                background: $main-color
                border-radius: 2px
                transition: background .3s ease
            &:after
                height: 4px
                width: 4px
                top: 8px
                left: -25px
                border-radius: 50%
        input
            -webkit-appearance: none
            -moz-appearance: none
            margin-right: 10px
            position: relative
            height: 15px
            width: 15px
            outline: none
            border: 0
            margin: 0 15px 0 0
            cursor: pointer
            background: #000
            display: grid
            align-items: center
            &::before,
            &::after
                content: ""
                position: absolute
                height: 2px
                top: auto
                background: $main-color
                border-radius: 2px
            &::before
                width: 0px
                right: 60%
                transform-origin: right bottom
            &::after
                width: 0px
                left: 40%
                transform-origin: left bottom
            &:checked
                &::before
                    animation: check-01 .4s ease forwards
                &::after
                    animation: check-02 .4s ease forwards
                + span
                    color: #333333
                    animation: move .3s ease .1s forwards
                    &::before
                        background: #333333
                        animation: slice .4s ease forwards
                    &::after
                        animation: firework .5s ease forwards .1s

@keyframes move
    50%
        padding-left: 8px
        padding-right: 0px
    100%
        padding-right: 4px

@keyframes slice
    60%
        width: 100%
        left: 4px
    100%
        width: 100%
        left: -2px
        padding-left: 0

@keyframes check-01
    0%
        width: 4px
        top: auto
        transform: rotate(0)
    50%
        width: 0px
        top: auto
        transform: rotate(0)
    51%
        width: 0px
        top: 8px
        transform: rotate(45deg)
    100%
        width: 5px
        top: 8px
        transform: rotate(45deg)

@keyframes check-02
    0%
        width: 4px
        top: auto
        transform: rotate(0)
    50%
        width: 0px
        top: auto
        transform: rotate(0)
    51%
        width: 0px
        top: 8px
        transform: rotate(-45deg)
    100%
        width: 10px
        top: 8px
        transform: rotate(-45deg)

@keyframes firework
    0%
        opacity: 1
        box-shadow: 0 0 0 -2px $main-color, 0 0 0 -2px $main-color, 0 0 0 -2px $main-color, 0 0 0 -2px $main-color, 0 0 0 -2px $main-color, 0 0 0 -2px $main-color
    30%
        opacity: 1
    100%
        opacity: 0
        box-shadow: 0 -15px 0 0px $main-color, 14px -8px 0 0px $main-color, 14px 8px 0 0px $main-color, 0 15px 0 0px $main-color, -14px 8px 0 0px $main-color, -14px -8px 0 0px $main-color
