.hamburger 
    position: absolute
    top: 71px
    right: 215px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-end
    height: 41px
    cursor: pointer
    span 
        margin: 1px
        display: block
        height: 3px
        width: 61px
        background: #fff
    &_black
        span
            background: #000
    
