.hamburger
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-end
    height: 41px
    cursor: pointer
    z-index: 201
    span
        transition: .5s all
        display: block
        height: 3px
        width: 61px
        background: #fff
    &.active
        span
            &:nth-child(1)
                transform: translateY(17px) rotate(-45deg)
            &:nth-child(2)
                transform: translateY(-20px) rotate(45deg)
            &:nth-child(3)
                display: none
    &-black
        span
            background: #000
.menu
    width: 100%
    opacity: 0
    position: relative
    display: none
    margin-top: 100px
    z-index: 1000
    &.active
        display: block
        opacity: 1
        .menu__wrapper
            transition: all 0.6s
            transform: translateX(0%)
    &__wrapper
        transform: translateX(-100%)
        z-index: 1000
    &__links
        display: grid
        justify-content: space-between
        grid-template: repeat(4, 44px) / repeat(auto-fit, minmax(300px,auto))
        row-gap: 30px
    &__link
        color: rgba(255, 255, 255, 0.4)
        font-weight: bold
        font-size: 43px
        text-align: center
        text-transform: uppercase
        letter-spacing: 0.15em
        &:hover
            color: #fff
            text-decoration: none
        &:last-child
            grid-column: 2/3
    &__socials
        position: relative
        z-index: 1000
        margin: 0 auto
        margin-top: 150px
        width: 150px
        display: flex
        justify-content: space-between
        #vk
            width: 32px
            height: 32px
        #inst
            width: 32px
            height: 32px
    &__overlay
        display: none
        position: fixed
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: #000
        opacity: .94
        z-index: 199
        &.active
            display: block
