.hamburger
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-end
    height: 41px
    cursor: pointer
    z-index: 201
    span
        transition: .5s all
        display: block
        height: 3px
        width: 61px
        background: #fff
    &.active
        span
            &:nth-child(1)
                transform: translateY(17px) rotate(-45deg)
            &:nth-child(2)
                transform: translateY(-20px) rotate(45deg)
            &:nth-child(3)
                display: none
    &-black
        span
            background: #000
.menu
    opacity: 0
    display: none
    position: fixed
    top: 200px
    left: 0
    width: 100vw
    height: calc( 100vh - 200px)
    z-index: 1000
    transition: .5s all
    &.active
        display: flex
        align-items: center
        justify-content: center
        opacity: 0
        transform: scale(0.5)
    &.transitioned
        opacity: 1
        transform: scale(1)
    &__wrapper
        z-index: 1000
        width: 100%
    &__link
        color: rgba(255, 255, 255, 0.4)
        font-weight: bold
        font-size: 43px
        text-align: center
        text-transform: uppercase
        letter-spacing: 0.15em
        &:hover
            color: #fff
            text-decoration: none
    &__socials
        position: relative
        z-index: 1000
        margin: 0 auto
        margin-top: 150px
        width: 150px
        display: flex
        justify-content: space-between
        a
            transition: .6s all
            &:hover
                transform: translateY(-15px)
            img
                width: 32px
                height: 32px

    &__overlay
        display: none
        position: fixed
        left: 0
        width: 100%
        height: 100vh
        background-color: #000
        opacity: .94
        z-index: -1
        &.active
            display: block
    &__links
        display: grid
        justify-content: space-between
        grid-template: auto / repeat(auto-fit, minmax(300px, auto))
        row-gap: 30px
        text-transform: uppercase
        text-align: center
        a
            font-size: 50px
            position: relative
            color: #616161
            text-shadow: none
            text-decoration: none
            &:before
                position: absolute
                top: 0
                overflow: hidden
                max-width: 0
                border-bottom: 2px solid #fff
                color: #fff
                content: attr(data-hover)
                transition: all 0.7s
            &:hover
                &:before
                    max-width: 100%
            &:last-child
                grid-column: 2/3
