.portfolio
    background: #FFFFFF
    padding: 71px 0
    &__title
        &::before
            width: 305px
            height: 4px
            left: 185px
            background-color: #343434
        &::after
            width: 305px
            height: 4px
            right: 190px
            background-color: #343434
