.promo 
    min-height: 100vh
    background: url('../img/bg/main.jpg') no-repeat 100%/cover
    padding-top: 71px
    a.logo
        font-family: 'El Messiri', sans-serif
        // font-family: Paytone One

        text-decoration: none
        font-size: 37px
        letter-spacing: 0.7em
        text-transform: uppercase
        color: #FFF
    &__header 
        display: flex
        justify-content: space-between
    &__title 
        margin-top: 100px
        margin-bottom: 140px
