.request
    padding: 71px 0
    background: #0e1215
    &__title
        color: #fff
        &:before
            width: 270px
            height: 4px
            left: 185px
        &:after
            width: 270px
            height: 4px
            right: 190px
    &__form
        display: grid
        grid-template: auto / repeat(2, 370px)
        justify-content: center
        row-gap: 60px
        column-gap: 30px
        margin-top: 75px
        input.request__input
            width: 370px
            height: 63px
            padding-left: 14px
    &__policy
        color: #fff
        font-size: 15px
        display: flex
        align-items: center
        input 
            margin-right: 10px
    &__btn
        width: 370px
        height: 63px
        background: $main-color
        font-size: 24px
        text-align: center
        letter-spacing: 0.055em
        color: #fff
