.services
    text-align: center
    padding: 70px 0
    background: url(../img/bg/services.jpg) center (center/cover) no-repeat
    &__title
        color: #fff
        &:before
            width: 331px
            left: 200px
        &:after
            width: 331px
            left: 635px
    
    
